// vars
//colours
$accent: #FF4081;
$main: #5E35B1;

// main css

body {
    background: #B993D6;
    background: -webkit-linear-gradient(right, #B993D6, #8CA6DB);
    background: -o-linear-gradient(right, #B993D6, #8CA6DB);
    background: linear-gradient(to left, #B993D6, #8CA6DB);
    color: white;
    font-size: 1.75em;
}

#quote-btn {
    // border-right: 1px solid darkslateblue;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#header {
    height: 70px;
}

.accent {
    color: $accent;
}

.title {
    margin-top: 0;
    font-size: 3em;
    margin-bottom: 0px;
    letter-spacing: 0.05em;
}

.tag-line {

    font-weight: 300;
}

.center-block {
    float: none !important;
}

.main {
    padding-top: 100px;
}

.quote-card {
    margin-top: 20px;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: $main;
    .quote {
        padding: 0 5px;
    }

    span {
        padding: 10px 0;
        letter-spacing: 0.045em;
    }

    cite {
        padding-bottom: 10px;
        font-size: 0.9em;
        font-weight: 200;
    }
}
